.dockerignore
.DS_Store
.env
.envrc
.generators
.git
.gitignore
.log
.rakeTasks
.rspec
.ruby-version
.travis.yml

*.iml
*.ipr
*.iws

bin
features
log
public/assets
script
spec
tmp
vendor/assets/bower_components
vendor/bundle
