<% content_for :page_title, 'Thank you for your interest in pension guidance - GOV.UK' %>

<div class="text">
  <h1 class="heading-xlarge">Thank you for your interest</h1>

  <p>We will email you with more details in the near future.</p>

  <p>Do not reply to suspicious emails. Our service will never ask you for your bank details or to buy a product.</p>
</div>
