@import "elements/helpers";
@import "elements/reset";
@import "elements/elements-typography";
@import "elements/layout";
@import "elements/forms";
@import "elements/tables";
@import "elements/buttons";
@import "elements/details";
@import "elements/lists";
@import "elements/panels";
@import "elements/icons";

// main has a tabindex=-1 to make the 'skip to main content' link work - we don't want this to have a focus state
main:focus {
  outline: none;
}

.new_user_profile {
  input[type="text"] {
    margin:0;
    font-size: 19px;
    padding:4px;
  }
}

.l-page-container {
  @extend %site-width-container;
  @extend %contain-floats;
  padding-bottom: $gutter;
  @include media(desktop) {
    padding-bottom: $gutter*3;
  }
}
