<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags site: 'GOV.UK', separator: '-', reverse: true %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
  <main id="content" role="main">
    <div class="site-width-container">
      <%= yield %>
    </div>
  </main>
</div>

</body>
</html>
